<com.dabsquared.gitlabjenkins.connection.GitLabApiTokenImpl plugin="gitlab-plugin@1.4.5">
  <scope>GLOBAL</scope>
  <id>Gitlab-API</id>
  <description>Gitlab API Credential</description>
  <apiToken>{{ ptoken.stdout_lines | join(' ')}}</apiToken>
</com.dabsquared.gitlabjenkins.connection.GitLabApiTokenImpl>
